{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Список организаций</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="org-list-grid">
                {% for org in organizations %}
                    <div class="org">
                        <div class="org__id">#{{ org.id }} {{ org.short_name }}</div>
                        <div class="org__sign">
                            <span>Статус золотого знака: {{ org.gold_sign }}</span>
                            {% if org.gold_sign == 'CONFIRMED' %}
                                <span>Дата получения: {{ org.gold_sign_date }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="button"><a href="{% url 'org-create' %}">Добавить организацию</a></div>
        </div>
    </div>
{% endblock %}
