{% extends 'base.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <main>
        <div class="organisation-list">
            {% for organisation in organisations %}
                <strong>Organisation {{ forloop.counter }}</strong>
                <div class="organisation">
                    {% for field, value in organisation.fields.items %}
                        {{ field }}: {{ value }}
                        <br>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
        </div>
        <a href="/addOrganisation/">Добавить организацию</a>
    </main>

    <div class="row">
        <div class="col">
            <h2>Список организаций</h2>
        </div>
    </div>

    {% for org in organizations %}
        <div class="row">
            <div class="col">
                <h2>Список организаций</h2>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <div class="col ">
                Вы ещё не добавили ни одну организацию.
            </div>
        </div>
    {% endfor %}

{% endblock %}
