{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="django-data" style="display: none">
        <div id="django-data-forms-count">{{ forms|length }}</div>
    </div>

    <div class="row justify-content-sm-center">
        <div class="col-md-10">
            <div id="organizations">
                {% for form in forms %}
                    <Transition>
                        <form v-show="currentForm == {{ forloop.counter0 }}"
                              :id="currentForm == {{ forloop.counter0 }} ? 'activeForm' : ''"
                              form-index="{{ forloop.counter0 }}">
                            <h1 class="text-center text-vertical-center">{{ form.title }}</h1>
                            {% for field in form %}
                                <div class="row">
                                    <div class="col mt-3 mb-2">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                        </form>
                    </Transition>
                {% endfor %}
                <div class="row">
                    <div class="col mt-3 mb-2">
                        <button @click="nextForm()">
                            <span v-if="currentForm == formsCount - 1">Сохранить</span>
                            <span v-else>Сохранить и продолжить</span>
                        </button>
                    </div>
                </div>
                </Transition>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'scripts/organizations.js' %}"></script>
{% endblock %}